<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>737743943741-dqjarrbsr0g3kqedr7k50c0pcbhv3orl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737743943741-dqjarrbsr0g3kqedr7k50c0pcbhv3orl</string>
	<key>API_KEY</key>
	<string>AIzaSyDf9VrGluu2h3NUJvSU3xUfZV9RAxO60rc</string>
	<key>GCM_SENDER_ID</key>
	<string>737743943741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>baandi.breakpoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoin-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoin-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737743943741:ios:031eb79f03d2b096</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoin-dev.firebaseio.com</string>
</dict>
</plist>